body {
    background-color: #00377e;
}

body:hover {
    cursor: pointer;
}

h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: #77b6fb;
    text-shadow: 2px 2px 4px black;
    border: pink;
    flex-direction: column;
}

h2 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    color: #77b6fb;
    text-shadow: 2px 2px 4px black;
}

h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #77b6fb;
    text-shadow: 2px 2px 4px black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 30px;
  padding: 30px;
  background-color: #e1ecf7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 660px;
  max-height: 600px;
  margin: auto;

}

.cards {
  width: 120px;
  height: 190px;
  font-size: 2em;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #b8afaf ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  transition: background-color 0.2s;
}

#play-again {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00377e;
    flex-direction: column;
    border-radius: 20px;
    background-color: #77b6fb;
    border: none;
}

#play-again:hover {
    cursor: pointer;
    background-color: #ffe5ec;
    transition-delay: 10ms;
}